/* khai báo root hoặc html sẽ áp dụng cho toàn bộ trang */

:root {
  --box-height: 160px;
  --box-color: red;
}

.box1 {
  height: var(--box-height);
  background-color: var(--box-color);
  margin-bottom: 10px;
}
.box2 {
  height: var(--box-height);
  background-color: var(--box-color);
  margin-bottom: 10px;
}
.box3 {
  height: var(--box-height);
  background-color: var(--box-color);
  margin-bottom: 10px;
}

.detail {
  --p_font-size: 50px;

  /* font-size: var(--p_font-size); */
}
.detail span {
  font-size: var(--p_font-size);
}

.content {
  --backgroud-color: red;
}
.box4 {
  height: 100px;
  background-color: var(--backgroud-color, purple);
}
