body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ec6b6b;
  padding: 20px;
}

input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie-card {
  background-color: #222;
  padding: 10px;
  border-radius: 10px;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}
