.container{
    height: 150px;
    display: flex;
    background-color: #7fff00;
/* flex-wrap: wrap; */
overflow: 0 auto;

    
}

.box{
    background-color: blue;
    border: 1px solid black;
    width: 30%;
/* flex-shrink: 0; */



}

.box1{
    flex-shrink: 0;
}

