.box{
    width: 200px;height: 400px;
    border: 6px dashed red;
    background-image: url(/img/Hình-ảnh-minh-họa.jpg);
    /* chọn góc bắt đầu hình ảnh */
    background-position: top right;
    


}